Jugando Lisa.scrum
<form method="post" action="/juego">
Ingrese una letra
<input type="text" name="letra" value="" maxlength="1" size="5" />
<input type="submit" name="adivina" value="adivina" />
</form>
<br>
<div style="color:blue;margin:0 auto;">Letras acertadas: <%= @acertadas %>/<%= @cantidadLetras %></div>
<br>
<div style="color:red;margin:0 auto;">Intentos fallidos: <%= @fallidas %>/<%= @maxFallidas %></div>

<h1 style="color:green;"><%= @strMensaje %></h1>

